telegram:
    token: {{ TELEGRAM_TOKEN }}
    allow_user: {{ TELEGRAM_USER }}
    proxy:
        url: '{{ TELEGRAM_PROXY_URL }}'
        username: {{ TELEGRAM_PROXY_USERNAME }}
        password: {{ TELEGRAM_PROXY_PASSWORD }}
vmware:
    server: {{ VMWARE_SERVER }}
    username: {{ VMWARE_USER }}
    password: {{ VMWARE_PASSWORD }}
db:
    path: {{ DB_PATH }}
